.talk-avatar {
    height: 120px;
    width: auto;
    content: url('app/assets/img/talkavatar.jpg');
}

.talk-details > .title {
    font-size: 18px;
    font-weight: 400;
}

.talk-details > .value {
    font-size: 16px;
}