<div class="row row-flex row-flex-wrap">
    <div class="col s12 m12 l8">
        <div class="card box white">
            <div class="box-header">
                <span class="md stronger">Talks Live</span>
                <p class="sm grey-text text-darker-3">Monitor talks and registrations live right now</p>
            </div>
            <div class="box-content-clear">
                <input type='text' class="right-align" placeholder='Type to search or filter an entry...'
                       (keyup)='updateFilter($event)'/>
                <div *ngIf="!talks" class="spinner">
                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                </div>
                <datatable #datatable *ngIf="talks"
                        class="material"
                        [rows]="rows"
                        [columns]="columns"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="10"
                        [sortType]="'multi'">
                    <datatable-column prop="title" name="Title">
                        <template let-row="row" let-value="value" swui-datatable-cell-template>
                            <a class="black-text lighten-1" [routerLink]="['/dashboard/talks/' + row.controls]" href="">{{ value }}</a>
                        </template>
                    </datatable-column>
                    <datatable-column prop="date"></datatable-column>
                    <datatable-column prop="speakerName" name="Speaker"></datatable-column>
                    <datatable-column prop="proponent"></datatable-column>
                    <datatable-column prop="room"></datatable-column>
                    <datatable-column prop="controls" name="Field check">
                        <template let-row="row" let-value="value" swui-datatable-cell-template>
                            <span class="new badge {{ checkAttributes(value) ? 'red' : 'green' }}" data-badge-caption="">
                                {{ checkAttributes(value) ? "MISSING FIELDS" : "OK" }}
                            </span>
                        </template>
                    </datatable-column>
                </datatable>
            </div>
        </div>
    </div>
</div>