<div class="layout-header">
    <span>FEUP Talks</span>
</div>
<div class="layout-header-low">
    <a class="active" href="">Home</a>
    <a href="">Calendar</a>
    <a href="">About</a>
    <a href="">Agent Login</a>
</div>

<div class="wrapper">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card box white">
                <div class="box-header">
                    <span class="md stronger">Available Talks</span>
                    <p class="sm grey-text text-darker-3">Scheduled talks available for sign up</p>
                </div>
                <div class="box-content">
                    <talk-list_edit-cmp></talk-list_edit-cmp>
                </div>
            </div>
        </div>
    </div>
</div>