<div class="wrapper">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card box white">
                <div class="box-header">
                    <span class="md stronger">Calendar</span>
                    <p class="sm grey-text text-darker-3">Overview of what's happening in the following weeks</p>
                </div>
                <div class="box-content-clear">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>