<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <div mdl class="mdl-card mdl-form-card mdl-shadow--6dp">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                <h2 class="mdl-card__title-text">Register a Talk</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <form>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="title" (ngModel)="title"/>
                        <label class="mdl-textfield__label" for="title">Title</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="summary" />
                        <label class="mdl-textfield__label" for="summary">Summary</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="date" id="start" value="2001-01-01"/>
                        <label class="mdl-textfield__label" for="summary">Start</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="date" id="end" value="2001-01-01" />
                        <label class="mdl-textfield__label" for="summary">End</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z]*" id="username" />
                        <label class="mdl-textfield__label" for="username">Proponent</label>
                        <span class="mdl-textfield__error">Only alphabet and no spaces, please!</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="(.+)@(.+){2,}\.(.+){2,}"
                               id="email" />
                        <label class="mdl-textfield__label" for="username">Email</label>
                        <span class="mdl-textfield__error">Please enter a valid email!</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="affiliation" value="feup" />
                        <label class="mdl-textfield__label" for="title">Affiliation</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="speakername" />
                        <label class="mdl-textfield__label" for="title">Speaker Name</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="speakerbrief" />
                        <label class="mdl-textfield__label" for="title">Speaker Brief</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="speakeraffilition" />
                        <label class="mdl-textfield__label" for="title">Speaker Affiliation</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="hostname" />
                        <label class="mdl-textfield__label" for="title">Hostname</label>
                    </div>
                </form>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <button (click)="submit()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Submit</button>
            </div>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>