<div class="row">
    <div class="col s12 m12 l12">
        <div class="card box white">
            <div class="box-header cols">
                <h5 class="stronger">{{ talk?.title }}</h5>
                <p class="sm grey-text text-darker-3">by {{ talk?.speakerName }}</p>
            </div>
            <div class="box-content">
                <div class="row">
                    <div class="col s12 m12 l12 talk-details">
                        <p class="value">{{ talk?.summary }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l3">
                        <span class="talk-avatar"></span>
                        <p></p>
                    </div>
                    <div class="col s12 m6 l5 talk-details">
                        <span class="title">About the Host</span>
                        <p class="value">{{ talk?.speakerName }} ({{ talk?.speakerAffiliation }})</p>
                        <p class="value">{{ talk?.speakerBrief }}</p>
                    </div>
                    <div class="col s12 m12 l4 talk-details">
                        <span class="title">Scheduling</span>
                        <p class="value">Date: {{ talk?.date }}</p>
                        <p class="value">Date Flexibility: {{ talk?.dateFlex }}</p>
                        <p class="value">Duration: {{ talk?.duration }} Hours</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l5 offset-l3 talk-details">
                        <span class="title">Room</span>
                        <p class="value">{{ talk?.room ? talk.room : "Not set" }}</p>
                    </div>
                    <div class="col s12 m4 l4 talk-details">
                        <span class="title">Moderator</span>
                        <p class="value">Name: {{ talk?.hostName ? talk?.hostName : "Not set" }}</p>
                        <p class="value">Email: {{ talk?.hostEmail ? talk?.hostEmail : "Not set" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l5 offset-l3 talk-details">
                        <span class="title">Snack</span>
                        <p class="value">{{ talk?.snack ? talk.snack : "Not set" }}</p>
                    </div>
                    <div class="col s12 m4 l4 talk-details">
                        <span class="title">Other details</span>
                        <p class="value">{{ talk?.other }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>