<div class="layout-header">
    <img src="app/assets/img/logo.png"/>
</div>
<div class="layout-header-low">
    <a materialize="sideNav" href="#" data-activates="mobile-nav"
       class="button-collapse hide-on-med-and-up white-text"><i class="material-icons">menu</i></a>

    <div class="hide-on-small-only">
        <a routerLink="/home" routerLinkActive="active"
           class="waves-effect waves-light btn-large blue" href="">
            Home
        </a>
        <a routerLink="/calendar" routerLinkActive="active"
           class="waves-effect waves-light btn-large blue" href="">
            Calendar
        </a>
        <a routerLink="/about" routerLinkActive="active"
           class="waves-effect waves-light btn-large blue" href="">
            About
        </a>
        <a routerLink="/login" routerLinkActive="active"
           class="waves-effect waves-light btn-large blue" href="">
            Agent Login
        </a>
    </div>

    <ul class="side-nav" id="mobile-nav">
        <li><a routerLink="/home" href="">Home</a></li>
        <li><a routerLink="/calendar" href="">Calendar</a></li>
        <li><a routerLink="/about" href="">About</a></li>
        <li><a routerLink="/login" href="">Agent Login</a></li>
    </ul>
</div>
<div class="layout-header-plus">
    <a routerLink="/talks/register"
       class="btn-floating btn-large waves-effect waves-light blue" href=""><i class="material-icons">add</i></a>
</div>
<div class="breadcrumb-place right-align">
    <breadcrumb></breadcrumb>
</div>
<router-outlet></router-outlet>