<div class="layout-header">
    <span>FEUP Talks</span>
</div>
<div class="layout-header-low">
    <a routerLink="/home" routerLinkActive="active" class="waves-effect waves-light btn-large blue" href="">Home</a>
    <a routerLink="/calendar" routerLinkActive="active" class="waves-effect waves-light btn-large blue" href="">Calendar</a>
    <a routerLink="/about" routerLinkActive="active" class="waves-effect waves-light btn-large blue" href="">About</a>
    <a routerLink="/dashboard" routerLinkActive="active" class="waves-effect waves-light btn-large blue" href="">Agent Login</a>
</div>

<router-outlet></router-outlet>