<div class="wrapper">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card box white">
                <div class="box-header">
                    <span class="md stronger">About</span>
                    <p class="sm grey-text text-darker-3">Information about the authours and purpose of this website</p>
                </div>
                <div class="box-content-clear">
                    About here
                </div>
            </div>
        </div>
    </div>
</div>