<div class="row row-flex row-flex-wrap">
    <div class="col s12 m12 l8">
        <div class="card box white">
            <div class="box-header">
                <span class="md stronger">Talks Waiting to be Published</span>
                <p class="sm grey-text text-darker-3">Everything is ready here, just requiring admin confirmation</p>
            </div>
            <div class="box-content-clear">
                <input type='text' class="right-align" placeholder='Type to search or filter an entry...'
                       (keyup)='updateFilter($event)'/>
                <div *ngIf="!talks" class="spinner">
                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                </div>
                <datatable #datatable *ngIf="talks"
                        class="material"
                        [rows]="rows"
                        [columns]="columns"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="10"
                        [sortType]="'multi'">
                    <datatable-column prop="title" name="Title">
                        <template let-row="row" let-value="value" swui-datatable-cell-template>
                            <a class="black-text lighten-1" [routerLink]="['/dashboard/talks/' + row.controls]" href="">{{ value }}</a>
                        </template>
                    </datatable-column>
                    <datatable-column prop="date"></datatable-column>
                    <datatable-column prop="speakerName" name="Speaker"></datatable-column>
                    <datatable-column prop="proponent"></datatable-column>
                    <datatable-column prop="room"></datatable-column>
                    <datatable-column prop="controls" name="Approval">
                        <template let-row="row" let-value="value" swui-datatable-cell-template>
                            <!-- Modal Trigger -->
                            <a class="waves-effect waves-light btn btn-small orange lighten-2" (click)="openModal2(value)">GoLive</a>
                            <a class="modal-trigger waves-effect waves-light btn btn-small red lighten-1 modal-trigger" (click)="openModal1(value)">Cancel</a>
                        </template>
                    </datatable-column>
                </datatable>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="row">
    <!-- Modal2 Structure -->
    <div id="modal2" class="modal" materialize="modal"
         [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions2" #accept>
        <div class="modal-content">
            <h4>Publish a Talk</h4>
            <p>Are you sure you want to publish this talk?</p>
            <p class="red-text" *ngIf="checkAttributes(accept.getAttribute('data-id'))">
                Please notice not all the fields from this talk are filled! The proponent did not fill everything.
            </p>
            <p class="green-text" *ngIf="!checkAttributes(accept.getAttribute('data-id'))">
                All fields are filled. The talk is ready to go live.
            </p>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-green btn-flat" (click)="closeModal2()">No</a>
            <a class="waves-effect waves-green btn-flat" (click)="acceptTalk(accept.getAttribute('data-id'))">Yes</a>
        </div>
    </div>
    <!-- Modal1 Structure -->
    <div id="modal1" class="modal" materialize="modal"
         [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions1" #reject>
        <div class="modal-content">
            <h4>Cancel a Talk</h4>
            <p>Are you sure you want to cancel this talk?</p>
            <p>As soon as you cancel it, the talk will be REJECTED and you will no longer be able to publish it.</p>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-green btn-flat" (click)="closeModal1()">Cancel</a>
            <a class="waves-effect waves-green btn-flat" (click)="rejectTalk(reject.getAttribute('data-id'))">Continue</a>
        </div>
    </div>
</div>