<!-- Navbar goes here -->
<div class="layout">
    <header>
        <nav class="top-nav blue">
            <div class="nav-wrapper">
                <span class="top-nav-title left">Dashboard</span>
                <ul class="right hide-on-med-and-down">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a (click)="auth.logout()">Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div class="side-nav fixed">
            <div class="side-avatar">
                <img class="img-responsive" src="http://image.prntscr.com/image/21a071456b6446aa89644340857c35c4.png">
                <div class="info">
                    <p class="name">{{ auth.getProfile()['name'] }}</p>
                    <p class="role">{{ auth.roleToString(auth.getProfile()['role']) }}</p>
                </div>
            </div>
            <div class="navigation">
                <div class="navigation-bar">Explore</div>
                <a class="navigation-link" routerLink="/dashboard">
                    <i class="ti ti-home"></i>
                    <span class="link">Dashboard</span>
                </a>
                <a class="navigation-link" routerLink="/dashboard/pending">
                    <i class="ti ti-check-box"></i>
                    <span class="link">Pending</span>
                    <span class="new badge">4</span>
                </a>
                <div class="navigation-bar">Moderate</div>
                <a class="navigation-link">
                    <i class="ti ti-user"></i>
                    <span class="link">Users</span>
                </a>
                <a class="navigation-link">
                    <i class="ti ti-comment"></i>
                    <span class="link">Comments</span>
                    <span class="new badge">20</span>
                </a>
                <div class="navigation-bar">Configure</div>
                <a class="navigation-link">
                    <i class="ti ti-files"></i>
                    <span class="link">Archives</span>
                </a>
                <a class="navigation-link">
                    <i class="ti ti-settings"></i>
                    <span class="link">Options</span>
                </a>
                <a class="navigation-link">
                    <i class="ti ti-harddrives"></i>
                    <span class="link">Users</span>
                </a>
            </div>
        </div>
    </header>
    <div class="wrapper" style="padding-right: 10px;">
        <router-outlet></router-outlet>
    </div>
</div>