<div class="row row-flex row-flex-wrap">
    <div class="col s12 m6 l3">
        <div class="card box blue">
            <div class="w-40 blue darken-4 rounded">
                <i class="fa fa-facebook white-text valign"></i>
            </div>
            <div class="box-content box-content-right align-right valign">
                <span class="md stronger blue-text text-lighten-5">{{ talks?.length }} <span class="ms">Pending Talk</span></span>
                <p class="sm blue-text text-lighten-4">Awaiting approval</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card box white">
            <div class="w-40 green rounded">
                <i class="fa fa-comment white-text valign"></i>
            </div>
            <div class="box-content box-content-right align-right valign">
                <span class="md stronger">0 <span class="ms">Comments</span></span>
                <p class="sm grey-text text-darker-3">Awaiting approval</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card box white">
            <div class="w-40 yellow darken-4 rounded">
                <i class="fa fa-facebook white-text valign"></i>
            </div>
            <div class="box-content box-content-right align-right valign">
                <span class="md stronger">0 <span class="ms">Talks Completed</span></span>
                <p class="sm grey-text text-darker-3">In the current month</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card box white">
            <div class="w-40 indigo lighten-2 rounded">
                <i class="fa fa-user white-text valign"></i>
            </div>
            <div class="box-content box-content-right align-right valign">
                <span class="md stronger">0 <span class="ms">Users</span></span>
                <p class="sm grey-text text-darker-3">Attending talks this month</p>
            </div>
        </div>
    </div>
</div>
<div class="row row-flex row-flex-wrap">
    <div class="col s12 m12 l8">
        <div class="card box white">
            <div class="box-header">
                <span class="md stronger">Pending Overview</span>
                <p class="sm grey-text text-darker-3">Overview of Talks waiting to be checked</p>
            </div>
            <div class="box-content">
                <div *ngIf="!talks" class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <table *ngIf="talks" class="ms highlight">
                    <thead>
                    <tr>
                        <th data-field="title">Title</th>
                        <th data-field="date">Date</th>
                        <th data-field="proponent">Speaker</th>
                        <th data-field="speaker">Room</th>
                        <th data-field="speaker">Approval</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let talk of talks | slice:0:3; let i = index">
                        <ng-container *ngIf="talk?.state == 1">
                            <td>{{ talk?.title }}</td>
                            <td>{{ parse(talk?.date).toUTCString()
                                .split(' ').slice(0, 4).join(' ') }}</td>
                            <!--
                            - This split slice join is to remove the time, because without it the result would be:
                                 Mon, 07 Nov 2016 00:00:00 GMT, and we want to cut the hours, minutes and seconds

                            - The '?' in angular means a null check. This is, talk.title would give error if talk
                            was null, however talk?.title checks if null before.

                            - All talks are null before results from API are fetched.
                            -->
                            <td>{{ talk?.speakerBrief }}</td>
                            <td>{{ talk?.room }}</td>
                            <td class="center">
                                
                                <!-- Modal Trigger -->
                                <a class="waves-effect waves-light btn btn-small lighten-2r" (click)="openModal2()">Yes</a>
                                <a class="modal-trigger waves-effect waves-light btn btn-small deep-orange lighten-1 modal-trigger" (click)="openModal1()">No</a>
                            
                                
                                <!-- Modal Structure -->
                                <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions1                                ">
                                    <div class="modal-content">
                                        <h4>Reject a Talk</h4>                                     
                                        <p>Are you sure you want to reject this talk?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a  class="waves-effect waves-green btn-flat" (click)="closeModal1()">No</a>
                                        <a class="waves-effect waves-green btn-flat" (click)="rejectTalk()">Yes</a>

                                    </div>
                                </div>
               
                                <!-- Modal2 Structure -->
                                <div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions2">
                                    <div class="modal-content">
                                            <h4>Accept a Talk</h4>
                                            <p>Are you sure you want to accept this talk?</p>
                                            </div>
                                            <div class="modal-footer">
                                            <a class="waves-effect waves-green btn-flat" (click)="closeModal2()">No</a>
                                            <a class="waves-effect waves-green btn-flat" (click)="acceptTalk()">Yes</a>

                                    </div>
                                </div>

                            </td>
                        </ng-container>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer right-align">
                <a class="waves-effect waves-light btn blue">View more</a>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card box white center-align">
            <div class="box-header">
                <span class="md stronger">Approved Overview</span>
                <p class="sm grey-text text-darker-3">Approved talks over total submitted</p>
            </div>
            <pending-chart></pending-chart>
        </div>
    </div>
</div>
<div class="row row-flex">
    <div class="col s12 m12 l12">
        <div class="card box white center-align">
            <div class="box-header">
                <span class="md stronger">Attendees Growth</span>
                <p class="sm grey-text text-darker-3">Overview of attendees throughout the months</p>
            </div>
            <attendees-chart></attendees-chart>
        </div>
    </div>
</div>