<div class="row row-flex row-flex-wrap">
    <div class="col s12 m6 l3">
        <div class="card box blue">
            <div class="w-40 blue darken-4 rounded">
                <i class="fa fa-facebook white-text valign"></i>
            </div>
            <div class="box-content box-content-right align-right valign">
                <span class="md stronger blue-text text-lighten-5">{{ talks ? talks.length : 0 }}
                    <span class="ms">Pending Talks</span></span>
                <p class="sm blue-text text-lighten-4">Awaiting approval</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card box white">
            <div class="w-40 green rounded">
                <i class="fa fa-comment white-text valign"></i>
            </div>
            <div class="box-content box-content-right align-right valign">
                <span class="md stronger">0 <span class="ms">Comments</span></span>
                <p class="sm grey-text text-darker-3">Awaiting approval</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card box white">
            <div class="w-40 yellow darken-4 rounded">
                <i class="fa fa-facebook white-text valign"></i>
            </div>
            <div class="box-content box-content-right align-right valign">
                <span class="md stronger">{{ talksApproved ? talksApproved.length : 0 }}
                    <span class="ms">Talks Accepted</span></span>
                <p class="sm grey-text text-darker-3">But currently waiting for room</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card box white">
            <div class="w-40 indigo lighten-2 rounded">
                <i class="fa fa-user white-text valign"></i>
            </div>
            <div class="box-content box-content-right align-right valign">
                <span class="md stronger">0 <span class="ms">Users</span></span>
                <p class="sm grey-text text-darker-3">Attending talks this month</p>
            </div>
        </div>
    </div>
</div>
<div class="row row-flex row-flex-wrap">
    <div class="col s12 m12 l8">
        <div class="card box white">
            <div class="box-header">
                <span class="md stronger">Pending Overview</span>
                <p class="sm grey-text text-darker-3">Overview of Talks waiting to be checked</p>
            </div>
            <div class="box-content">
                <div *ngIf="!talks" class="spinner">
                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                </div>
                <table *ngIf="talks" class="ms highlight">
                    <thead>
                    <tr>
                        <th data-field="title">Title</th>
                        <th data-field="date">Date</th>
                        <th data-field="proponent">Speaker</th>
                        <th data-field="speaker">Approval</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let talk of talks | slice:0:3; let i = index">
                        <td routerLink="/dashboard/talks/{{ talk?.talkID }}">{{ talk?.title }}</td>
                        <td>{{ parse(talk?.date).toUTCString()
                            .split(' ').slice(0, 4).join(' ') }}</td>
                        <!--
                        - This split slice join is to remove the time, because without it the result would be:
                             Mon, 07 Nov 2016 00:00:00 GMT, and we want to cut the hours, minutes and seconds

                        - The '?' in angular means a null check. This is, talk.title would give error if talk
                        was null, however talk?.title checks if null before.

                        - All talks are null before results from API are fetched.
                        -->
                        <td>{{ talk?.speakerName }}</td>
                        <td class="center">
                            <!-- Modal Trigger -->
                            <a class="waves-effect waves-light btn btn-small lighten-2r" (click)="openModal2(talk?.talkID)">Yes</a>
                            <a class="modal-trigger waves-effect waves-light btn btn-small deep-orange lighten-1 modal-trigger" (click)="openModal1(talk?.talkID)">No</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer right-align">
                <a routerLink="/dashboard/pending" class="waves-effect waves-light btn blue">View more</a>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card box white center-align">
            <div class="box-header">
                <span class="md stronger">Accepted Overview</span>
                <p class="sm grey-text text-darker-3">Accepted talks (waiting) over total</p>
                <p class="sm grey-text text-darker-3">(Total is the sum of Pending and Accepted)</p>
            </div>
            <pending-chart></pending-chart>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="row">
    <!-- Modal2 Structure -->
    <div id="modal2" class="modal" materialize="modal"
         [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions2" #accept>
        <div class="modal-content">
            <h4>Accept a Talk</h4>
            <p>Are you sure you want to accept this talk?</p>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-green btn-flat" (click)="closeModal2()">No</a>
            <a class="waves-effect waves-green btn-flat" (click)="acceptTalk(accept.getAttribute('data-id'))">Yes</a>
        </div>
    </div>
    <!-- Modal1 Structure -->
    <div id="modal1" class="modal" materialize="modal"
         [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions1" #reject>
        <div class="modal-content">
            <h4>Reject a Talk</h4>
            <p>Please insert a reason below and confirm your action.</p>
            <textarea id="reject-reason" materialize="characterCounter" type="text" class="materialize-textarea"
                      length="100" name="reject-reason"></textarea>
            <label for="reject-reason">Reason</label>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-green btn-flat" (click)="closeModal1()">Cancel</a>
            <a class="waves-effect waves-green btn-flat" (click)="rejectTalk(reject.getAttribute('data-id'))">Continue</a>
        </div>
    </div>
</div>